<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'search_form', q: @q, url: bookmarks_boards_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @bookmark_boards.present? %>
          <%= render @bookmark_boards %>
        <% else %>
          <p>No bookmarked posts</p>
        <% end %>
      </div>
    </div>
  </div>
</div>